*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif ;
   background-color: #606060;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    font-size: 10px;
}
.text{
    text-align: center;
    font-size: 3.5rem;
    color:white;
    margin-top: 8px;
}
.manicontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
}
input{
  width: 244px;
  height: 36px;
  border: 2px solid #403932;
  font-size: 1.9rem;
  text-align: center;
}
input::placeholder{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
}
.inpbut {
    display: flex;
    align-items: center;
}
.but button{
    height: 38px;
    border: 3px solid #403932;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.cardtodo {
    margin-top: 28px;
    min-width: 500px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.cardtodo:hover{
    box-shadow: 1px 1px 10px black;
}
#ulTodoList{
   font-size: 2rem;
    list-style: none;
    text-align: center;
}
#ulTodoList li{
    border: 5px solid rgb(39, 88, 145);
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    margin-top: 5px;
    padding-left: 5px;
}
#ulTodoList li i{
    cursor: pointer;
}
.reset{
margin-left: 4px;
}
.reset button{
    padding: 9px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.reset button:hover{
    box-shadow: 1px 1px 10px black;
   
} 
.list i{
    color: red;
    padding-right: 6px;
    transform: scale(1.1);
} 
.list{ 
    background-color:transparent; 
    border: none;
 }
#inp{
    position: relative;
    display: flex;
    align-items: center;
}
#inp .iconn{
    position: absolute;
    right: 6px;
    transform: scale(1.4);
    opacity: 0;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
#inp input:focus + .iconn{
    opacity: 0.7;
}
@media (max-width:390px) {
        .cardtodo {
            min-width: 320px;
        }
        .text{
           color: #c9c9c9; 
        }
    
}