*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(to right bottom, rgba(2,0,36,1) 0%, rgb(76, 76, 240) 35%, rgb(55, 156, 176) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    font-size: 10px;
}
.text{
    text-align: center;
    font-size: 3.5rem;
    color:white;
}
.manicontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
}
input{
  width: 244px;
  height: 39px;
  border: 3px solid purple;
  font-size: 1.9rem;
 
}
input::placeholder{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
}
.inpbut {
    display: flex;
    border: 3px solid white;
    border-radius: 4px;

}
.but button{
    height: 38px;
    border: 2px solid purple;
    border-radius: 3px;
    cursor: pointer;
}
.cardtodo {
    margin-top: 5px;
    border-radius: 3px;
    border: 5px solid white;
   min-width:314px;
    background-color: #7430e77d;
    min-height: 300px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.cardtodo:hover{
    box-shadow: 1px 1px 10px black;
}
#ulTodoList{
   font-size: 2rem;
    list-style: none;
}
#ulTodoList li{
    border: 5px solid rgb(39, 88, 145);
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}
#ulTodoList li i{
    cursor: pointer;
}
.reset{
    text-align: center;
    margin-top: 10px;
}
.reset button{
    padding: 5px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.reset button:hover{
    box-shadow: 1px 1px 10px black;
    transform: scale(1.1);
}
.list i{
    color: red;
    margin-right: 6px;
    transform: scale(1.1);
} 
.list{ 
    background-color:transparent; 
    border: none;
 }
